{% extends 'Shared/_MainLayout.html' %}
{% block content %}
  <div class="container">
		<section  id="form"><!--form-->
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2 class="text-center">ثبت نام کاربـر جدیـد</h2>
						<form method="post">
                            {% csrf_token %}
							 {{ register_form }}
                             <a href="/login">قبلا ثبت نام کرده ام!</a>
							<button type="submit" class="btn btn-default">ثبت نام</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</section>
	</div>



{% endblock %}