  <div class="col-md-4 pull-right">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/user/panel" class="btn btn-link">پنل کاربری</a></li>
                            <li class="list-group-item"><a href="/user/edit" class="btn btn-link">ویرایش اطلاعات</a></li>
                            <li class="list-group-item"><a href="/user/history" class="btn btn-link">تاریخچه</a></li>
                            <li class="list-group-item"><a href="/logout" class="btn btn-link">خروج</a></li>
                        </ul>
  </div>